.father {
    display: flex;
    /* Main Axis */
    justify-content: space-around;
    align-content: flex-start;
    height: 200vh;
    flex-wrap: wrap;
}

.child {
    width: 300px;
    height: 200px;
    background: peru;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child:nth-child(2) {
    background: #000;
    flex-grow: 1;
  }